main {
    height: 100vh;
    display: grid;
    grid-template-rows: 100vh 100vh;

    section {
        .profil {
            height: 100%;
            display: grid;
            grid-template-rows: 20% 80%;
            
            .otherplayers {

                img {width: 75px;}
            }
            
            .player {
                padding: 50px 10px;
                
                .container-player {
                        display: grid;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        grid-template-rows: 30% repeat(7, calc(70%/7));
                        text-align: center;
                        
                        img, .timer, .div-container, button {
                            display: flex;
                            width: 100px;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            gap: 10px;
                        }
                }

            }
    
        }                
    }

    .board {
        
        article {
            height: 100%;
        }

    }
}




@media screen and (min-width: 1000px) {
    
    main {
        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;

    }

}