
body {
    
    @include wallpaper;
    color: white;
    width: 100vw;
    height: 100vh;

main {

    .starter-container {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25vh;
    }

    .test {
        
        display: grid;
        grid-template-columns: 1fr 10fr 2fr;

        nav {
            @include styleboard;
            margin: auto;
            display: flex;
            flex-direction: column;
            width: 50px;
            padding: 10px;

            * {
                margin: 5px 0;
            }
        }
        
        .main {
            height: 70vh;
        }

        section {
            padding: 10px;
            @include styleboard;
            margin: 10px;
        }


        footer {
            bottom: 0;
            grid-column: 1/4;

            section {
                display: flex;
                justify-content: end;

                * {
                    margin: 5px;
                }
            }
        }

    }
}
    
}
    
    
    