main {
    height: 100vh;
    display: grid;
    grid-template-rows: 100vh 100vh;

    section {
        .profil {
            height: 100%;
            display: grid;
            grid-template-rows: 20% 80%;
            
            .otherplayers {
                display: grid;
                grid-template-columns: 10% 80% 10%;
            }
            
            .player {
                
            }
    
        }                
    }

    .board {
        
        article {
            height: 100%;
        }

    }
}




@media screen and (min-width: 1000px) {
    
    main {
        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;

    }

}