@mixin styleboard {
    border: 1px solid black;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

@mixin input-style {
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: 1px solid #303030;
    border-bottom: 2px solid #9a9a9a;
    background-color: #2d2d2d;
    color: white;
    transition: all 0.3s ease;
  
    &::placeholder {
      color: #9a9a9a;
    }
  
    &:hover {
      background-color: #313131;
    }
  
    &:active,
    &:focus {
      background-color: #1e1f20;
      border: 1px solid #2d2d2d;
      border-bottom: 2px solid #0b0b0b;
    }
  }

@mixin wallpaper {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-image: repeating-radial-gradient(  #0c0a0a 80%,#2f312f 90%,#3f4549 90%);
  background-size: 65px 65px;
}

@mixin button {
  background-color: transparent;
  outline: 0;
  border: 0;
}
  