.newTask-article {
    width: 100%;
    height: 100%;
    
    .text-input, select {
        margin: 10px;
        width: 200px;
        height: 35px;
    }
    
    .input-Name {
        
    }

    .input-Gain {
        display: flex;
        margin-top: 10px;

        .div-gain {
            text-align: center;
        }

    }
}