article {

    .titre {
        margin: 100px auto;
    }

    ul {
        
        width: 100%;

        li {
            display: grid;
            grid-template-columns: repeat(8, 80px)
    
        }
    }

    .listOfFist{
        @include styleboard;
    }
}