aside {
    
    height: 100%;

    .stats-otherPlayer {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .img-OtherPlayers {
            
            width: 50px;
        }
    }

    .stats-mainPlayer {
        height: 400px;
        margin: 10px;
        display: grid;
        grid-template-rows: 40% repeat(5, 1fr);

        
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            p:not(.actualBarLevel), input, button {
                margin: 0 5px;
            }
            
        }
        
        .img-Player {
            width: 50%;
        }

        .barLevel {
            width:100px;
            height:10px;
            border-radius: 20px;
            border:1px solid #000000;
            position: relative;

            .actualBarLevel {
                color:#603d3d;
                content:"";
                position: absolute;
                inset:0 100% 0 0;
                border-radius: inherit;
                background:currentColor;
            }            
        }
    }

}