*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include wallpaper;
}

img {
    width: 100px;
}
section{
    padding: 5px
}

article {
    @include styleboard;
    padding: 10px;
}


.barreExperience {
    border-radius: 50px;
    border: 1px solid white;
    background-color: black;
    overflow: hidden;
    width: 50%;
    height: 15px;

    .currentExperience {
        background-color: rgb(255, 255, 255);
        height: 15px;
    }
}
